<h1>Welcome to the Music Business!</h1>
<h2>Theres no business like it!!</h2>



<p>
  Please select where you would like to go.
</p>
<a href="/venues">Take me to the Venues!!</a>
<a href="/bands">Take me to the Bands!!</a>
